

body {
  background-color:#fff9a8;
  font-family:"Calibri";
}

#title {
  font-family:"Calibri";
}

.question {
  height: 750px;
  width: 750px;
  border: 2px solid black;
  background-color: white;
  margin: auto;
}

.btn {
 background-color: #4CAF50; /* Green */
 border: none;
 color: white;
 padding: 15px 32px;
 text-align: center;
 font-size: 16px;
 cursor: pointer;
 box-shadow: 3px 4px #000;
}

#end {
  position: fixed;
  width: 15%;
  bottom: 10px;

}

#phImage {
  padding-top: 150px;
}

#qNum {
    font-family:"Calibri";
    font-size: 20px;
}

#nextQ {
  margin-left: auto;
  margin-right: auto;
}

#q1, #q2, #q3, #q4, #q5, #q6, #q7, #q8, #q9, #q10 {
  padding-top: 0px;
  height: 600px;
  width: 600px;
  display: none;
}

.qChoices {
   background-color: #f0ead6;
}

.qIChoices {
  padding-top: 30px;
  padding-bottom: 30px;

}

.qIChoices:hover {
  border-style: solid;
  border-color:black;
  box-shadow: 3px 4px #000;
}

.qTitle {
  padding-bottom: 150px;
  font-size: 30px;
}
