body {
  background-color:#fff9a8;
  font-family:"Calibri";
  background-image: url("background.png");
}

#title {
  font-family:"Calibri";
}

.btn {
 background-color: #4CAF50;
 border: none;
 color: white;
 padding: 15px 32px;
 text-align: center;
 font-size: 16px;
 cursor: pointer;
 box-shadow: 3px 4px #000;
}

#end {
  position: fixed;
  width: 15%;
  bottom: 10px;

}

#phImage {
  padding-top: 150px;
}

.text-wrapper{
	width: 100%;
	position: relative;
	margin-top: -39.5%;
}
.text-wrapper h1{
	text-align: center;
}
#container{
	background-color: #fff9a8;
	border-style: ridge;
	border-color: #808000;
	border-width: 3px;
	height: 1325px;
	width: 1075px;
	margin: 0 auto;
	padding: 30px;

}
header{
	background-color: #145C07;
	border-style: ridge;
	border-color: #808000;
	border-width: 3px;
	height: 175px;
	width: 1070px;
	margin-top: 0;
	margin-bottom: 30px;
}
footer{
	border-style: ridge;
	border-color: #808000;
	border-width: 3px;
	height: 175px;
	width: 1070px;
}
span{
	color:red;
}

.btn:hover {
    background-color: #5CBF60;
}

#sectionOne{
	border-style: ridge;
	border-color: #808000;
	border-width: 3px;
	height: 1105px;
	width: 1070px;
	margin-bottom: 30px;
	float: right;
}
