.mQues {
  background-color: #ffd3ad;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  width: 60px;
  position: relative;
  bottom: -150px;
  left: -375px;
}

#mQOne, #mQTwo, #mQThree, #mQFour, #mQFive {
  padding-top: 30px;
  padding-bottom: 30px;
}

.mAns {
  background-color: #ffd3ad;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  width: 60px;
  position: relative;
  top: -390px;
  right: -325px;
}

#mAOne, #mATwo, #mAThree, #mAFour, #mAFive {
  padding-top: 30px;
  padding-bottom: 30px;
}

#qHead {
  padding-top: 10px;
  background-color: #fff;
  width: 200px;
  height: 150px;
  border-style: solid;
  border-width: 2px;
  border-color: #000;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;

}

.qTitle {
  padding-bottom: 150px;
  font-size: 30px;
}

.questionMatching {
  height: 850px;
  width: 950px;
  border: 2px solid black;
  background-color: white;
  margin: auto;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
